
 {% block header%}
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class="js">
    <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>BUCKSELL</title>
	<meta name="keywords" content="bucksell , university">
	<meta name="description" content="Buy and sell university items items">
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" type="text/css">

    {%include 'header.html'%}
 {% endblock %}
 
 
 {% block content%}
 {% endblock %}
 {% block footer%}
        {%include 'footer.html'%}
 {% endblock %}


